# MySQL DB CONFIG
DB_HOST=db
DB_PORT=3306
DB_NAME=challenge_php
DB_USER=admin
DB_PASS=Ch4lleng3Php!

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=challenge_php
MYSQL_USER=admin
MYSQL_PASSWORD=Ch4lleng3Php!


# VARIABLES DE ENTORNO
PRECIO_USD=1430