services:
  php:
    build: ./api
    ports:
      - "8080:80"
    volumes:
      - ./api:/var/www/html
    env_file:
      - config.env
    depends_on:
      - db
  db:
    image: mysql:8.0
    ports:
      - "3307:3306"
    env_file:
      - config.env
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data: